<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Kohahdus</display-name>
  <description>
     Titotititiitititit nalle...
  </description>

  <context-param>
    <param-name>confile</param-name>
    <param-value>/home/tkt_koha/tomcat/webapps/EAssari/WEB-INF/trainerconfig.dat</param-value>
    <description>
        configuration file
    </description>
  </context-param>

	<filter>
        <filter-name>TitoInitializer</filter-name>
        <filter-class>fi.helsinki.cs.kohahdus.TitoInitializer</filter-class>
		<init-param>
			<param-name>language-properties</param-name>
			<param-value>/home/tkt_koha/tomcat/webapps/morimoto/WEB-INF/xml/properties.xml</param-value>
		</init-param>
    </filter>
     <filter-mapping>
        <filter-name>TitoInitializer</filter-name>
		<url-pattern>/*</url-pattern>
    </filter-mapping>
    
	<servlet>
	  <servlet-name>TestServlet</servlet-name> 
	  <servlet-class>TestServlet</servlet-class> 
	</servlet>
	
	<servlet>
	  <servlet-name>Answer</servlet-name> 
	  <servlet-class>fi.helsinki.cs.kohahdus.Answer</servlet-class> 
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>Answer</servlet-name> 
	  <url-pattern>/Answer</url-pattern> 
	</servlet-mapping>
	
	<servlet-mapping>
	  <servlet-name>invoker</servlet-name> 
	  <url-pattern>/servlet/*</url-pattern> 
	</servlet-mapping>
	

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
    <taglib-location>/WEB-INF/fmt.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
    <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    <taglib-location>/WEB-INF/c.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
    <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
    <taglib-location>/WEB-INF/sql.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
    <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
    <taglib-location>/WEB-INF/x.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
    <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
  </taglib>

</web-app>
