table {
	border-width: 0;
}

table td {
	padding: 2px;
}

#menuTable {
	width: 100%;
	padding: 0px;
	background: #eeeeff;
	border-style: solid;
	border-color: #000000;
	border-width: 2;
}

#menuTable .linksCell, #menuTable .userCell {
	width: 50%;
	padding-top: 0px;
	padding-bottom: 0px;
}

#menuTable .linksCell {
	text-align: left;
}

#menuTable .userCell {
	text-align: right;
}

#menuTable .linksCell > table {
	margin-right: auto;
	text-align: left;
}

#menuTable .linksCell td {
	padding-left: 0.5em;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
}

#menuTable .userCell > table {
	margin-left: auto;
	text-align: right;
}

#menuTable .userCell td {
	padding-right: 0.5em;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: right;
}

#loginTable td {
	padding-right: 5px;
	padding-left: 0px;
	text-align: left;
	font-weight: bold;
}

#showStatistics {
	left-margin: auto;
	right-margin: auto;
}

#composer {
	left-margin: auto;
	right-margin: auto;
}

#composer #ttk91Table {
	width: 100%;
}

.listTable {
	background-color: #000000;
}

.listTable td {
	padding: 4px;
	background-color: #FFFFFF;
	text-align: left;
}

.listTable td.titleBar {
	background-color: #CECECE;
	color: #000000;
	font-weight: bold;
}

.presentationTable {
	border: solid #000000 1px;
	empty-cells: show;
}

.presentationTable td {
	vertical-align: top;
	border: solid #000000 1px;
	padding: 4px;
}

.presentationTable td td {
	border-width: 0;
}

.presentationTable td.titleBar {
	background-color: #6495ED;
	text-align: center;
	font-weight: bold;
}

#composer .presentationTable td.titleBar {
	text-align: left;
	font-style: italic;
}

.presentationTitle {
	text-align: center;
}

#composer .innerComposerTable {
	border: solid #808080 1px;
	empty-cells: hide;
	border-collapse: collapse;
}

#composer .innerComposerTable td {
	border: solid #CECECE 1px;
	border-collapse: collapse;
}

.formTable td {
	padding: 5px;
	text-align: left;
	font-weight: bold;
}

.formTable .subTitle {
	font-style: italic;
}

.formTable td.formButtonCell {
	text-align: right;
}

.footNote, .formTable .footNote {
	font-size: 0.8em;
	font-weight: normal;
	font-style: normal;
}

.errorMsg {
	color: #FF0000;
	font-weight: bold;
	font-style: normal;
}

.infoBox {
	padding: 6px; 
	border: solid 2px #000000;
}

/* an element that looks like a button */
.helpbutton {
	margin-left: 8px;
	padding: 2px 4px; 
	border-style: outset; 
	background-color: #B0C4DE; 
	border-color: #6495ED; 
	color: #000000; 
	text-decoration: none;
	font-weight: bold;
}